.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My classes */
.d-flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.column-reverse{
  flex-direction: column-reverse;
}
.f-wrap{
  flex-wrap: wrap;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.just-center{
  justify-content: center;
}
.just-between{
  justify-content: space-between;
}
.just-evenly{
  justify-content: space-evenly;
}
.just-start{
  justify-content: start;
}
.just-end{
  justify-content: end;
}
.ali-center{
  align-items: center;
}
.ali-start{
  align-content: flex-start;
}
.d-none{
  display: none;
}
.bg-blue{
  background-color: rgb(105, 186, 212);
}
.bg-rose{
  background-color: rgb(184, 88, 88);
}

/* ******* Classes, Elements ******* */

.singlePost{
  border:1px solid rgb(102, 60, 33);
  margin: 5px;
  padding: 5px;
}
.singlePost img{
  width: 80%;
  margin: 10px;
  object-fit: contain;
  border-radius: 5px;
  border:1px solid blue;
}
textarea{
  resize: none;
}
.inputField{
  text-align: left;
  padding-left: 50px;
}

/* **** Padding, Margin **** */
.pr-20{
  padding-right: 20px;
}
.pr-1{
  padding-right: 1px;
}
.pr-25{
  padding-right: 25px;
}
.pr-13{
  padding-right: 13px;
}
.pr-19{
  padding-right: 19px;
}